extends ./template

mixin course(course)
  a.lesson-plan(href="/course/" + course.id style="background: #" + course.color)
    .lesson-plan-img(style="background-image: url(/resources/" + course.id + "/hero.jpg)")
    h2= course.title
    p= course.description
    p #{course.grade} &nbsp;•&nbsp; #{course.time}

block vars
  - var title = "TROP ICSU Climate Change Curriculum"

block body
  .hero
    .hero-shadow
    .container: .hero-title
      h1 Learn about Climate Change

  .container
    .row
      for c in courses
        +course(c)

  .container
    footer.global-footer
      .footer-left
        a(href='https://council.science/') International Science Council
        span.dot •
        a(href='https://imaginary.org/') Imaginary
        span.dot •
        a(href='https://mathigon.org') Mathigon
      .footer-right © TROP ICSU
