extends ../_template

block vars
  - var title = "TROP ICSU – Survey"

block body
  +hero('調査 : 日本語')

  .container
    h3 TROP-ICSU,学際的研究に基づいた気候変動研究と理解を改善するための教育手法
    h4 コアカリキュラムに気候研究を組み入れる

    h4 こんにちは！私たちは、TROP-ICSUプロジェクトのチームメンバーです（https://tropicsu.org/）。

    h5 (Translation Credits: Takashi Sawaguchi, Professor, Natural Science Laboratory, Toyo University, Japan)

    p TROP-ICSUは、国際科学会議（ICSU）によるサポートを受けたグローバル・プロジェクトです。このプロジェクトは、科学、数学、その他の分野のコアカリキュラムに、気候に関する研究を組み入れることを目指しています。この目的を達成するために私たちは、高校や学部生レベルの様々な教育分野での教育者が無料でダウンロードできる教材ツールキットを作っています。気候問題への関心を高めるため、これらのツールキットは様々な気候変動の例を用いてコアカリキュラムにトピックを導入しています。それぞれのツールキットは、ビデオ講義、対話型シミュレーション、モデリング、可視化、教室や実験室での活動、および練習問題といった、監修済みデジタル教育用ツールなどによって構成されています。また、ステップ毎に解説された利用ガイドが含まれ、カスタマイズ用の追加教材もあります。

    p こうした背景のもと、私たちは、世界各国の学校現場において、気候変動に関連したトピックが現在どのように議論されているかを理解するために、様々な教育現場の先生たち（教育者）に調査を行いたいと考えています。また、気候に関する研究をコアカリキュラムに組み入れるための挑戦・取り組みに協力していただける方を探したいと思っています。あなたがご回答いただくことによって、世界中の教育者のための教材ツールキットがより効果的で有意義なものになります。

    p この調査にご参加下さることで、私たちのウェブポータルにサインアップし、私たちのプロジェクトの更新情報や、様々な教材ツールキットのご利用、教材のカスタマイズが可能になります。

    a.btn.btn-large.btn-blue(href="https://docs.google.com/forms/d/e/1FAIpQLSf4c2PTpYl1aS6WC-3uhD-_WJ-LW81k-g_95E0kCJsKVP682w/viewform?hl=ja") 調査

  +footer()
