extends ../_template

block vars
  - var title = "TROP ICSU – Survey"

block body
  +hero('Enquête : Français')

  .container
    h3 TROP-ICSU, Pédagogie transdisciplinaire orientée vers la recherche pour améliorer les études et la compréhension du climat. Intégrer les études sur le climat au programme commun d’enseignement.

    h5 (Traduction: Nathalie Fomproix, International Union of Biological Sciences (IUBS); Revue et suggestions: France Caron, Université de Montréal.)

    p Bonjour! Nous sommes membres de l’équipe du projet TROP-ICSU (https://tropicsu.org/), un projet global financé par le Conseil International des Sciences (ICSU). Le projet vise à intégrer les études sur le climat dans le programme de base en sciences, en mathématiques et dans d’autres disciplines. Pour atteindre cet objectif, nous créons des boîtes à outils pédagogiques gratuites pour les enseignants de diverses disciplines du secondaire et au premier cycle universitaire. Ces boîtes à outils introduiront un thème dans le programme de base à l’aide d’exemples et d’études de cas sur le changement climatique, dans le but d’accroître la sensibilisation au changement climatique. Chaque boîte à outils consistera en un ensemble structuré d’outils pédagogiques numériques tels que des conférences vidéo, des simulateurs interactifs, des modèles, des visualisations, des activités en classe et en laboratoire, et des exercices d’apprentissage. Chaque boîte à outils comprendra un guide d’utilisation étape par étape et donnera la possibilité de créer des boîtes à outils personnalisées.

    p Dans ce contexte, nous menons une enquête auprès des enseignants du secondaire au premier cycle universitaire, afin de comprendre comment les sujets liés au changement climatique sont actuellement traités en classe dans différentes régions du monde. Nous aimerions également solliciter vos contributions pour identifier les défis et les opportunités d’intégration des études climatiques dans le programme commun d’enseignement. Vos réponses nous aideront à améliorer l’efficacité et l’utilité des outils d’éducation pour les enseignants du monde entier.

    p Ce sondage vous donnera également la possibilité de vous inscrire à nos mises à jour du projet, d’avoir accès à une variété d’outils pédagogiques et de créer des boîtes à outils pédagogiques personnalisées sur notre portail Web.

    a.btn.btn-large.btn-blue(href="https://docs.google.com/forms/d/e/1FAIpQLSfThdO2vkrw1W3-tf2-bCwoq8tlAispIo30rPt9aCA02TcyOg/viewform?hl=fr") Enquête

  +footer()
