extends ../_template

block vars
  - var title = "TROP ICSU – Survey"

block body
  +hero('Umfrage : Deutsch')

  .container
    h3 Projekt: TROP-ICSU – transdisziplinäre forschungsorientierte Pädagogik zur Verbesserung von Klimastudien und Klimaverständnis. Integration von Klimastudien in das Kerncurriculum

    h5 (Übersetzung : Elisabeth Schmidt, University of Koblenz-Landau, Germany; Dank an: Dirk Felzmann, University of Koblenz-Landau, Germany)


    p Hallo! Wir sind Mitglieder des TROP-ICSU-Projekts (https://tropicsu.org/), einem globalen Projekt, das vom International Council of Science (ICSU) finanziert wird. Das Projekt zielt darauf ab, Klimastudien in die Curricula der Naturwissenschaften, der Mathematik und anderer Disziplinen zu integrieren. Um dieses Ziel zu erreichen, erstellen wir kostenlose Unterrichtskonzepte zum Download für Pädagogen verschiedener Disziplinen aus Schulunterricht und Universitätslehre.

    p Diese Unterrichtskonzepte führen ein Thema des Curriculums anhand von Beispielen und Fallbeispielen zum Klimawandel ein, mit dem Ziel, das Klimabewusstsein zu schärfen. Die Lehrmaterialien bestehen aus einer Sammlung digitaler Lehrmittel wie Videovorlesungen, interaktiven Simulatoren, Modellen, Visualisierungen, Klassenzimmer- und Laboraktivitäten sowie Lernübungen. Jedes Unterrichtskonzept enthält eine Schritt-für-Schritt-Anleitung für die Umsetzung und die Möglichkeit, eigene Lehrmaterialien zu erstellen.

    p In diesem Zusammenhang führen wir eine Befragung von Lehrkräften und Universitätsdozenten durch, um zu verstehen, wie Themen im Zusammenhang mit dem Klimawandel derzeit im Unterricht in verschiedenen Teilen der Welt diskutiert werden. Wir möchten auch Ihre bisherigen Aktivitäten in diesem Bereich ermitteln, um Herausforderungen und Möglichkeiten bei der Integration von Klimastudien in das Curriculum zu bestimmen. Ihre Antworten werden uns helfen, die Effektivität und Nützlichkeit der Unterrichtskonzepte für Pädagogen auf der ganzen Welt zu verbessern.

    p Diese Umfrage gibt Ihnen auch die Möglichkeit, sich für unsere Projekt-Updates anzumelden, Zugang zu einer Vielzahl von Lehrmitteln zu erhalten und auf unserem Webportal maßgeschneiderte Unterrichtskonzepte zu erstellen.

    a.btn.btn-large.btn-blue(href="https://docs.google.com/forms/d/e/1FAIpQLSf0wa514Lx31QJ-ON3oAFs4Uhuy40lk1-ueBJzheR7xFEPwEw/viewform?hl=de") Umfrage

  +footer()
