extends ../_template

block vars
  - var title = "TROP ICSU – Survey"

block body
  +hero('Encuesta: Español')

  .container
    h3 TROP-ICSU, Pedagogía Transdisciplinaria Orientada a la Investigación para Mejorar los Estudios de Clima y su Comprensión. Integrando los estudios del clima con el currículo básico.

    h5 (Traducción : Verónica Iñiguez, Universidad Técnica Particular de Loja, Ecuador (UTPL))

    p ¡Hola! Somos el equipo del Proyecto TROP-ICSU (https://tropicsu.org/), un proyecto global financiado por el Consejo de Ciencia Internacional (ICSU). Este proyecto tiene como objetivo integrar estudios de clima con el currículo básico de ciencia, matemáticas y otras disciplinas. Para lograrlo, estamos creando un kit de herramientas de enseñanza digitales de descarga gratuita para educadores de varias disciplinas de escuela secundaria y universidad.

    p Este kit de herramientas introducirá el tópico de cambio climático en el currículo básico con la ayuda de ejemplos y casos de estudio con el objetivo de fomentar una conciencia climática. Cada kit consistirá de una colección curada de herramientas pedagógicas digitales tales como video-conferencias, simuladores interactivos, modelos, visualizaciones, actividades en clase y laboratorio y ejercicios de aprendizaje. Además, cada kit de herramientas incluirá una guía de uso paso a paso e incluirá la opción de crear herramientas personalizadas.

    p En este contexto, estamos aplicando esta encuesta a maestros de secundaria y docentes universitarios para comprender como los tópicos relacionados al cambio climático son discutidos en los salones de clases en diferentes partes del mundo. Además nos gustaría tener sus aportes para identificar los retos y oportunidades que nos permita integrar los estudios de clima con el currículo básico. Sus respuestas por tanto nos ayudarán a mejorar la efectividad y utilidad de kits de herramientas de enseñanza para educadores alrededor el mundo.

    p Esta encuesta también le dará la opción de registrarse para conocer sobre las actualizaciones de nuestro proyecto, acceder a una variedad de herramientas de enseñanza y ayudar en la construcción de herramientas de enseñanza personalizadas en nuestro portal web.

    a.btn.btn-large.btn-blue(href="https://docs.google.com/forms/d/e/1FAIpQLSeBCZd1Yli4m8NHw_51yZyFKV9eb8DaEjUX1hnZIszpBT3unw/viewform?hl=es") Ir a la encuesta

  +footer()
