extends ../_template

block vars
  - var title = "TROP ICSU – Survey"

block body
  +hero('调查 : 中文')

  .container
    h3 TROP-ICSU, 国际科学理事会跨学科研究导向教学法

    h4 将气候研究与核心课程相结合

    p 您好！我们是国际科学理事会跨学科研究导向教学法项目的队员（https：//tropicsu.org/）。这是一个由国际科学理事会（ICSU）资助的全球性项目，旨在将气候研究与科学、数学和其他学科的核心课程结合起来。为了实现这一目标，我们正在为各个学科的高中和本科水平的教育工作者创建可供免费下载的教学工具包。这些工具包将在气候变化的实例和案例研究的帮助下，在核心课程中引入一主题，以此来提高气候意识。每一个教学工具包将包括一系列的数字教学工具，如视频讲座、互动式的模拟器、模型、可视化工具、课堂和实验室活动以及学习试练。每个工具包均包含详细的使用步骤，同时供有创建自定义工具包的选项。

    p 在此，我们向学校和大学教师（教育者）做一个调查，来了解世界各地的人在不同的课堂上是如何讨论与气候变化相关的话题的。我们期待您的加入，以此来共同见证将气候研究与核心课程相结合的挑战和机遇。您的回答将有助于我们提高为全世界教育工作者准备的教学工具包的有效性和实用性。

    p 这项调查还将为您提供一次注册我们项目更新的选项，借此您可获得多种教学工具，而且还可在我们的网站上建立定制的教学工具包。

    a.btn.btn-large.btn-blue(href="https://docs.google.com/forms/d/e/1FAIpQLSfFzTclF-KsIZKkRwrHsG3JRNnvnsyF9H6lxzwjdO-6JWYrIg/viewform?hl=zh-CN") 调查

  +footer()
