extends ../_template

block vars
  - var title = "TROP ICSU – Survey"

block body
  +hero('Estudi : Català')

  .container
    h3 TROP-ICSU, Trans-disciplinary Research Oriented Pedagogy for Improving Climate Studies and Understanding. Integració dels Estudis Climàtics amb el Currículum bàsic

    h5 (Traducció : Xavier Juan, AEPECT Spain)

    p Hola! Som els membres de l’equip del projecte TROP-ICSU (https://tropicsu.org/), un projecte global finançat pel Consell Internacional de Ciència (ICSU). Aquest projecte intenta integrar els estudis climàtics amb el currículum bàsic de Ciència, Matemàtiques i altres disciplines. Per assolir aquest objectiu, estem creant kits d’eines educatives de descàrrega gratuïta per a educadors en vàries disciplines als nivells de secundària superior i graduat. Aquests kits d’eines introduiran un tema al currículum bàsic amb l’ajut d’exemples i casos pràctics de canvi climàtic, amb l’objectiu d’augmentar el coneixement del clima. Cada kit d’eines consistirà en una selecció curosa d’eines pedagògiques com lectures en vídeo, simuladors interactius, models, visualitzacions, activitats d’aula i laboratori, i exercicis d’aprenentatge. Cada kit inclourà una guia pas a pas per al seu us i oferirà l’opció de crear kits a mida.

    p En aquest context, estem fent un estudi de professors (educadors) de secundària superior i graduació per tal de comprendre com s’estan discutint en l’actualitat a l’aula els temes relacionats amb el canvi climàtic a diferents parts del món. També ens agradaria rebre els vostres inputs per identificar reptes i oportunitats per integrar els estudis climàtics amb el currículum bàsic. Les vostres respostes ens ajudaran a millorar l’efectivitat i utilitat dels kits d’eines educatives per a educadors a través del món.

    p Aquest estudi també us donarà l’opció d’apuntar-vos a les actualitzacions del nostre projecte, tenir accés a una varietat d’eines educatives i construir kits d’eines didàctiques a mida al nostre web.

    a.btn.btn-large.btn-blue(href="https://docs.google.com/forms/d/e/1FAIpQLSfGa-jV2loilPGK3LscaWv-B-b3ypqshpuwouHygRTATv-32Q/viewform?hl=ca") Anar a l'Estudi

  +footer()
