extends ../_template

block vars
  - var title = "TROP ICSU – Survey"

block body
  +hero('Levantamento: Portuguese')

  .container
    h3 TROP-ICSU, Pedagogia orientada na pesquisa trans-disciplinar para melhorar estudos e compreensão climática. Integrando o estudo do clima com o currículo.

    h5 (Translation: Gustavo José Lara Campos, Unicamp student, Brazil; Revision: Prof. Dr. Roberto Greco, Instituto de Geociências - Unicamp, Brazil)

    p Olá! Somos membros da equipe do projeto TROP-ICSU (https://tropicsu.org/), um projeto global financiado pelo Conselho Internacional de Ciência (CIC). O projeto visa integrar estudos climáticos com o currículo básico em Ciências, Matemática e outras disciplinas. Para atingir esse objetivo, estamos criando kits de ferramentas de ensino grátis para download para educadores em várias disciplinas nos níveis de ensino médio e de graduação. Esses kits de ferramentas irão introduzir um tópico no currículo com a ajuda de exemplos e estudos de caso sobre mudanças climáticas, com o objetivo de aumentar a conscientização climática. Cada conjunto de ferramentas de ensino consistirá em uma coleção com curadoria de ferramentas pedagógicas digitais, como vídeo-aulas, simuladores interativos, modelos, visualizações, atividades em sala de aula e laboratório e exercícios de aprendizado. Cada conjunto de ferramentas incluirá um guia passo a passo para o uso e incluirá a opção de criar kits de ferramentas personalizados.

    p Nesse contexto, estamos realizando um levantamento de professores de escolas e de graduação (educadores) para entender como tópicos relacionados às mudanças climáticas são discutidos atualmente em sala de aula em diferentes partes do mundo. Também gostaríamos de sua contribuição para identificar desafios e oportunidades na integração de estudos climáticos com o currículo. Suas respostas nos ajudarão a aumentar a eficácia e a utilidade dos kits de ferramentas de ensino para educadores em todo o mundo.

    p Esta pesquisa também lhe dará uma opção para se inscrever para as atualizações de nossos projetos, obter acesso a uma variedade de ferramentas de ensino e criar kits de ferramentas de ensino personalizados em nosso portal.
    
    a.btn.btn-large.btn-blue(href="https://docs.google.com/forms/d/e/1FAIpQLSeUTjgl_b1gI84Es9APOcdejVRuuoZo01zpNzVpq7krMbVw_g/viewform?hl=pt-BR") Levantamento
    
  +footer()
