extends ../_template

block vars
  - var title = "TROP ICSU – Survey"

block body
  +hero('Sondaggio : Italiano')

  .container
    h3 TROP-ICSU, Pedagogia Trans-disciplinare Orientata alla Ricerca per Migliorare gli Studi e la Comprensione del Clima. Integrare gli Studi sul Clima nel Curricolo di Base.

    h5 (Traduzione : Giulia Realdon , University of Camerino (Italy) – UNICAMearth workgroup)

    p Salve! Siamo il gruppo di lavoro del progetto TROP-ICSU (https://tropicsu.org/), un progetto globale finanziato dall’International Council of Science (ICSU). Il progetto ha lo scopo di integrare gli studi sul clima nel curricolo di base di Scienze, Matematica e altre discipline. Per raggiungere questo obiettivo stiamo creando dei kit didattici liberamente scaricabili per educatori delle varie discipline a livello di scuola superiore e di università (laurea triennale).

    p Questi kit didattici premetteranno di introdurre un argomento nel curricolo di base con l’aiuto di esempi e casi di studio riguardanti il cambiamento climatico, con l’obiettivo di migliorare la consapevolezza sul clima. Ogni kit didattico consisterà di una collezione scelta di strumenti pedagogici digitali, come video-lezioni, simulazioni interattive, modelli, visualizzazioni, attività in aula e in laboratorio ed esercizi per l’apprendimento. Ogni kit includerà una guida per l’uso “passo per passo”, nonché la possibilità di creare kit personalizzati.

    p A questo proposito stiamo conducendo un sondaggio tra i docenti (educatori) della scuola e del corso di laurea triennale dell’università, per capire come gli argomenti riguardanti il cambiamento climatico siano discussi in aula nelle diverse parti del mondo. Ci piacerebbe anche avere le vostre indicazioni per identificare le sfide e le opportunità che si presentano nell’integrare gli studi sul clima nel curricolo di base. Le vostre risposte ci aiuteranno a migliorare l’efficacia e l’utilità dei kit didattici per gli educatori di tutto il mondo.

    p Questo sondaggio vi offre anche l’opzione di iscriversi per ricevere aggiornamenti sul nostro progetto, accedere a una varietà di strumenti didattici e costruire strumenti didattici personalizzati sul nostro portale web.

    a.btn.btn-large.btn-blue(href="https://docs.google.com/forms/d/e/1FAIpQLScb6by8whw-qYdy3DcnRKW8zP_DNSFx2mjqFD6p0qSBnrVKgQ/viewform?hl=it") Sondaggio

  +footer()
