extends ../_template

mixin course(course)
  a.lesson-plan(href="/lesson/" + course.id + '/overview' style="background: #" + course.color)
    .lesson-plan-img(style="background-image: url(/resources/" + course.id + "/hero.jpg)")
    h2= course.title
    p= course.description
    p #{course.grade} &nbsp;•&nbsp; #{course.time}

block vars
  - var title = "TROP ICSU Climate Change Curriculum"

block body
  .hero
    .hero-img(style="background-image: url(/images/hero.jpg)")
    .hero-shadow
    .container: .hero-title
      h1
        +icon('progress', 58)
        | Survey

  .container

    p टीआरओपी-आईसीएसयू (TROP-ICSU), जलवायु अध्‍ययन और उसे समझने के ढंग को बेहतर बनाने के लिए ट्रांस-विषयक अनुसंधान उन्‍मुखी शिक्षा

    p मूल पाठ्यक्रम के साथ जलवायु अध्‍ययन का एकीकरण

    p (भाषांतर : नितीन केशरवानी , IISER पुणे, भारत)

    p नमस्‍ते! हम अंतर्राष्‍ट्रीय विज्ञान परिषद (ICSU) के द्वारा वित्त पोषित वैश्‍विक परियोजना, टीआरओपी-आईसीएसयू (TROP-ICSU) परियोजना (https://tropicsu.org/) के टीम सदस्‍य हैं। परियोजना का उद्देश्‍य विज्ञान, गणित और अन्‍य विषयों में मूल पाठ्यक्रम के साथ जलवायु अध्‍ययन को एकीकृत करना है। इस उद्देश्‍य को प्राप्‍त करने के लिए, हम उच्‍च विद्यालय और पूर्वस्‍नातक (undergraduate) स्‍तरों पर विभिन्‍न विषयों में शिक्षकों के लिए नि:शुल्‍क डाउनलोड टूलकिट तैयार कर रहे हैं।

    p ये टूलकिट जलवायु जागरूकता बढ़ाने के उद्देश्य से, जलवायु परिवर्तन के उदाहरणों और केस अध्‍ययन की मदद से मूल पाठ्यक्रम में विषय को प्रस्‍तुत करेंगे। प्रत्‍येक शिक्षण टूलकिट में डिजिटल शैक्षणिक टूल्‍स जैसे वीडियो व्‍याख्‍यान, इंटरैक्टिव सिमुलेटर्स, मॉडल्‍स, विशूअलाइज़ेशन्‍स, कक्षा एवं प्रयोगशाला गतिविधियाँ, और सीखने के अभ्‍यास का एक क्‍यूरेटेड संग्रह होगा। प्रत्‍येक टूलकिट में उपयोग के लिए क्रमश: मार्गदर्शिका शामिल होगी और इसमें अनुकूलित टूलकिट बनाने का विकल्‍प शामिल होगा।

    p इस संदर्भ में, हाल ही में विश्‍व के विभिन्‍न हिस्‍सों में कक्षा में चर्चा की गई कि जलवायु परिवर्तन से विषय कैसे सबंधित है, को समझाने के लिए हम विद्यालय एवं पूर्वस्‍नातक शिक्षकों (educators) के लिए सर्वेक्षण का आयोजन कर रहे हैं। हम मूल पाठ्यक्रम के साथ जलवायु अध्‍ययन के एकीकरण में चुनौतियों और अवसरों की पहचान के लिए आपके प्रतिक्रिया प्राप्‍त करना चाहेंगे। आपकी प्रतिक्रियाओं से हमें दुनिया भर के शिक्षकों के लिए शिक्षण टूलकिट की प्रभावकारिता और उपयोगिता बढ़ाने में मदद मिलेगी।

    p यह सर्वेक्षण आपको हमारे परियोजना अद्यतन, विभिन्‍न शिक्षण टूल्‍स तक पहुँच प्राप्‍त करने, और हमारे वेब पोर्टल पर अनुकूलित शिक्षण टूलकिट बनाने के लिए साइन अप करने का विकल्‍प प्रदान करेगा।

    a.btn.btn-large.btn-blue(href="https://docs.google.com/forms/d/e/1FAIpQLSfymbVnvLWAAqA-v3rQo65pYNBErxgxhnDBWftCSVaXPJX1JA/viewform?hl=hi") सर्वेक्षण 


  +footer()
