mixin icon(url, width, height)
  - height = height || width
  svg(viewBox="0 0 " + width + ' ' + height, class="icon", width=width, height=height)
    use(xlink:href="/icons.svg#" + url)

block vars

mixin footer()
  footer.tropicsu-footer: .container
    .footer-left
      p All pedagogical tools are owned by the corresponding creators, authors or organizations as listed on their websites. Please view the individual copyright and ownership details for each tool using the links provided. We do not claim ownership of or responsibility or liability for any of these tools. Images copyrights remain with the respective owners. #[a(href="/policies.pdf" target="_blank") Policy Document]
    .footer-right
      p
        a(href="/about") About us
        span.dot •
        a(href="/contact") Contact
        span.dot •
        a(href="https://www.facebook.com/TROPICSUProject/") Facebook
        span.dot •
        a(href="https://twitter.com/TROP_ICSU") Twitter
      p
        a(href="http://eepurl.com/dE2ke5") Sign up for our free newsletter
      p Powered by #[a(target="https://mathigon.org") Mathigon]
      p © TROP ICSU


doctype html
html
  head
    meta(charset="utf-8")
    title=title
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,400italic', rel='stylesheet', type='text/css')
    link(href='/course.css', rel='stylesheet')
    link(href='/tropicsu.css?v=1', rel='stylesheet')
    block head

  body
    header
      a#logo(href="/")
        include ../assets/images/logo.svg
        nav
          .nav-item: a.nav-link(href="/lessons")
            +icon('library', 28)
            span.nav-text Lesson Plans
          .nav-item: a.nav-link(href="/tools")
            +icon('teacher', 28)
            span.nav-text Teaching Tools
          .nav-item: a.nav-link(href="/links")
            +icon('glossary', 24, 28)
            span.nav-text Resources

    block body
