extends ./_template

block vars
  - var title = "TROP ICSU – Contact"

block body
  +hero('Contact Us', 'email')

  .container.narrow(style="min-height: calc(100vh - 579px)")
    p We welcome contributions to our suite of Teaching Tools and Lesson Plans that can be used to teach topics in the high school and undergraduate curriculum through climate-related examples. Many educators from different countries have contributed to our suite of Lesson Plans.

    p If you have any queries or wish to recommend a relevant tool that you have developed, modified, or used, please write to us at #[a(href="mailto:tropicsu@iubs.org") tropicsu@iubs.org].

  +footer()
