extends ./_template

block vars
  - var title = "TROP ICSU Climate Change Curriculum"

block body
  .hero
    .hero-img(style="background-image: url(/images/hero.jpg)")
    .hero-shadow
    .container: .hero-title
      h1 #[strong TROP] ICSU
      .subtitle Climate change education across the curriculum, across the globe

  .container
    .row.padded-thin
        div(style="width: 300px")
          img(src="/images/tropicsu-logo-hd.jpg" width=300 height=180)
        .grow(style="width: 250px")
          p #[strong Climate change] is considered to be the most critical factor affecting sustainable and equitable development, increasing conflicts, and causing massive extinction of species. Its impact is inseparable from our day-to-day life, now and in future, so is both a problem to be addressed by action policies, and a problem that requires education and that can be adopted for more effective teaching.
          //Educational methods are more effective when students are challenged to identify the cause and effect of a problem that they can relate to their life.

          p The #[strong TROP ICSU project] collects and curates educational resources for teachers and self-learners to learn about Climate Change.  The quality of life of future generations is largely dependent on the quality of education that we impart to today’s students.

    p The goal is not to introduce Climate Education as a stand-alone topic, but to integrate it with the core curriculum of Science, Mathematics, and Social Sciences.

    div(style="background: #ddd; border-radius: 6px; padding: 24px; margin: 32px 0")
      // div.text-center(style="font-size: 24px; margin-bottom: 24px") The goal is not to introduce Climate Education as a stand-alone topic, but to integrate it with the core curriculum of Science, Mathematics, and Social Sciences.
      //.btn-row.text-center
      .row.padded-thin.text-center
        .grow(style="width: 300px")
          a.btn.btn-large.btn-blue(href="/tools") Teaching Tools
          p Individual resources from researchers and educators, that can be used to teach a topic in the core curriculum of a particular discipline with the help of a climate-related example.
        .grow(style="width: 300px")
          a.btn.btn-large.btn-blue(href="/lessons") Lesson Plans
          p Each Lesson Plan consists of a set of teaching tools and a write-up, packaged in the form of a step-by-step guide for the classroom.

    .row.padded.home-grid
      
      .grow(style="width: 300px")
         a(href="project")
          img(src="/images/home-1.jpg" width=300 height=180)
          h2 Project
          p TROP ICSU is a global project funded by the International Council of Science. See here its vision, strategy and methods.
      
      .grow(style="width: 300px")
        a(href="teachers")
          img(src="/images/home-7.jpg" width=300 height=180)
          h2 For Teaching, for Learning
          p See how these resources can help you learn about Climate Change, or to introduce Climate Change in your classroom as a teacher.  

      .grow(style="width: 300px")
        a(href="lesson/introduction-climate-change/overview")
          img(src="/images/home-4.jpg" width=300 height=180)
          h2 What is Climate Change?
          p Your simple guide to climate change, concepts and related terminology
      
      .grow(style="width: 300px")
        a(href="news")
          img(src="/images/newspapers.jpg" width=300 height=180)
          h2 News
          p Latest developments of TROP ICSU project.

      .grow(style="width: 300px")
        a(href="links")
          img(src="/images/books.jpg" width=300 height=180)
          h2 Resources
          p Reliable and high quality resources from UN agencies and other organizations.

      .grow(style="width: 300px")
        a(href="about")
          img(src="/images/home-6.jpg" width=300 height=180)
          h2 Team
          p The project partners include other international unions, national academies of several countries, national research centers, and United Nations agencies.

  +footer()
