extends ./_template

mixin course(course)
  a.lesson-plan(href="/lesson/" + course.id + '/overview' style="background: #" + course.color)
    .lesson-plan-img(style="background-image: url(/resources/" + course.id + "/hero.jpg)")
    h2= course.title
    p= course.description
    p #{course.grade} &nbsp;•&nbsp; #{course.time}

block vars
  - var title = "TROP ICSU Climate Change Curriculum"

block body
  .hero
    .hero-img(style="background-image: url(/images/hero.jpg)")
    .hero-shadow
    .container: .hero-title
      h1 Learn about Climate Change
      .subtitle Climate change education across the curriculum, across the globe

  .container
    p The quality of life of future generations is largely dependent on the quality of education that we impart to today’s students. Educational methods are more effective when students are challenged to identify the cause and effect of a problem that they can relate to their life.
    p #[strong Climate change] is considered to be the most critical factor affecting sustainable and equitable development, increasing conflicts, and causing massive extinction of species. Addressing the climate change issue is an essential step toward achieving the #[strong Sustainable Development Goals (SDGs)]. As the impact of climate change is inseparable from our day-to-day life, now and in future, it is both a problem to be addressed and a problem that can be adopted for more effective teaching.

    .row.padded.home-grid
      .grow(style="width: 300px")
        img(src="/images/home-1.jpg" width=300 height=180)
        h2 Vision
        p We aim to integrate relevant education and science communication modules in the education system to help future citizens across the globe in improving their understanding of the science of climate change and in developing necessary skills to mitigate its impact.
      .grow(style="width: 300px")
        img(src="/images/home-2.jpg" width=300 height=180)
        h2 Project
        p TROP ICSU (“Trans-disciplinary Research Oriented Pedagogy for Improving Climate Studies and Understanding”) is a global project funded by the International Council of Science. The project is led by International Union of Biological Sciences (IUBS) and co-led by International Union For Quaternary Research (INQUA).
      .grow(style="width: 300px")
        img(src="/images/home-3.jpg" width=300 height=180)
        h2 Strategy
        p We collate and curate digital/ICT-based teaching resources that integrate climate studies across the curriculum of Science, Mathematics, Social Sciences and Humanities. These teaching resources are locally rooted in their context, but globally relevant for their science.
      .grow(style="width: 300px")
        a(href="lesson/introduction-climate-change/overview")
          img(src="/images/home-4.jpg" width=300 height=180)
          h2 What is Climate Change
          p Your simple guide to climate change, concepts and related terminology
      .grow(style="width: 300px")
        img(src="/images/home-5.jpg" width=300 height=180)
        h2 Sustainable Development Goals
        p Our project directly aligns with #[a(href="https://www.un.org/development/desa/disabilities/envision2030.html" target="_blank") UN Sustainable Development Goals] (SDGs) 4 and 13.
      .grow(style="width: 300px")
        a(href="about")
          img(src="/images/home-6.jpg" width=300 height=180)
          h2 People
          p The project partners include other international unions, national academies of several countries, national research centers, and United Nations agencies.

    div(style="background: #ddd; border-radius: 6px; padding: 24px; margin: 32px 0")
      div.text-center(style="font-size: 24px; margin-bottom: 24px") The goal is not to introduce Climate Education as a stand-alone topic, but to integrate it with the core curriculum of Science, Mathematics, and Social Sciences.
      .btn-row.text-center
        a.btn.btn-large.btn-blue(href="/lessons") Lesson Plans
        a.btn.btn-large.btn-blue(href="/tools") Teaching Tools

    .row.padded.home-grid
      .grow(style="width: 300px")
        img(src="/images/home-7.jpg" width=300 height=180)
        h2 For Teachers and Educators
        p These resources are by teachers and for teachers. The project showcases a way of integrating climate change education with the core curriculum. Please do share your ideas on this platform for the benefit of other teachers across the world. Your feedback after using these resources will greatly help us in further improving the educational resources for climate change education.
      .grow(style="width: 300px")
        img(src="/images/home-8.jpg" width=300 height=180)
        h2 Educators Workshops
        p The TROP ICSU team aims to introduce the collection of digital teaching resources on the project website to teachers of various disciplines or subjects (Science, Mathematics, Social Sciences, and Humanities) through workshops organized in different countries. These workshops are being planned and organized with valuable support from our partners and collaborators.
      .grow(style="width: 300px")
        img(src="/images/home-9.jpg" width=300 height=180)
        h2 Methodology
        p TROP ICSU meticulously follows a methodology adopted along with various steps taken to review and validate the educational resources collated under this project.

  +footer()
