extends ./_template

block vars
  - var title = "TROP ICSU – Lesson Plans"

block body
  +hero('Lesson Plans', 'library')

  .container
    .row
      for course in courses
        a.lesson-plan(href="/lesson/" + course.id + '/overview' style="background: #" + course.color)
          .lesson-plan-img(style="background-image: url(/resources/" + course.id + "/hero.jpg)")
          h2= course.title
          p= course.description
          p #{course.grade} &nbsp;•&nbsp; #{course.time}

  +footer()
