extends ./_template

block vars
  - var title = "TROP ICSU – Project"

block body
  +hero('Methodology')

  .container
    p TROP ICSU follows a systematic process to collect, review, validate, publish, and disseminate the resources on the platform.

    .row.padded
      div(style="width: 470px")
        img(src="/images/Methodology-Flowchart-Part1.png")
      div(style="width: 470px")
        img(src="/images/Methodology-Flowchart-Part2.png")


    ol
   
      li #[strong Identification of climate change-related resources] as teaching tools from learning portals, education databases, and other sources.

        ul
          li Mapping the resources to the most appropriate discipline-specific curricular topics.

          li Classification and categorization of resources based on where (classroom, laboratory, or field), how (individually or in groups, with or without supervision), for whom (school or undergraduate students), and by whom (teachers to teach or students as self-learning exercises) they can be used as teaching tools.

      li #[strong Internal review of the feasibility of usage of the identified climate change-related resource] as a teaching tool, including examining copyright policies. The main criteria considered here are:

          ul

            li How much time does it take for a teacher to get acquainted with a recommended tool before using it?

            li Can a teacher effectively use the teaching tool being recommended here within the time available in the classroom or the lab?

            li Does the teaching tool being recommended here need specialized equipment/material, which may not be available in most schools or undergraduate educational institutions?

            li While recommending the use of a resource as a teaching tool, are we violating its copyright policy? Can we embed the tool within a lesson plan or do we need to just provide a link to the site where the tool is hosted (possibly by the original developer)?

      li #[strong Teaching Resource Development (Teaching Tools and Lesson Plans)]: 

        ul

          li Identify how the selected teaching tool could be used. The main criteria considered here are:

          li Would the teaching tool being recommended here be attractive to the teaching community for use in the classroom? Will it help improve learning of discipline-specific topics and thereby be an incentive for teachers to use the suggested resource?

          li Can the teaching tool being recommended here be used as a stand-alone teaching tool or does it need support from additional tools related to either climate-related topics and/or discipline-specific topics?

          li While integrating a given resource, do we need to introduce the climate topic in the beginning of a lesson plan or somewhere in the middle or at the end?

          li Does this tool introduce or discuss a location- or region-specific topic?

          li Write a detailed, step-by-step guide for the teachers on how to use the teaching tool being recommended here. Clarity and simplicity are given maximum importance while writing these guidelines.

          li Ensure seamless connectivity between the climate topic and corresponding curricular topic while preparing a detailed lesson plan.

  
      li #[strong Internal review of teaching resource for scientific accuracy and ease-of-use in the classroom].

        ul
          li This is being done by the project team based on their own knowledge and experience, with the help of information available on the Internet and in libraries, and by consulting appropriate experts (in science of climate change and in discipline-specific topics) locally and globally.

      li #[strong Publishing the teaching tools and lesson plans] on TROP ICSU website for its global review.

      li #[strong External review of teaching tools] for their scientific accuracy by Climate Science experts. The project team would then edit/modify the teaching tools and lesson plans as per the review and suggestions.Organization of workshops across the world for school and undergraduate teachers to review teaching tools and lesson plans for their use in regular teaching.

      li #[strong Organization of workshops] across the world for school and undergraduate teachers to review teaching tools and lesson plans for their use in regular teaching.

        p Teachers would review the connectivity of the suggested climate change topics with their discipline-specific topics, feasibility of its use in their regular teaching, and the flow of the lesson plans. They would seek clarifications wherever needed and suggest changes to the teaching tools and step-by-step guidelines. The project team would then edit/modify the teaching tools and lesson plans as per the review and suggestions.

      li #[strong Formal publication] of validated and peer-reviewed teaching tools and lesson plans on TROP ICSU website.

      li #[strong Submission of new ideas for teaching resources]: During the workshop for teachers and subsequently, we expect many teachers to submit their own ideas to integrate climate change topics with regular curricular topics and/or create their own detailed lesson plans as per their expertise/experience and local needs. Those teaching tools and lesson plans too would be further developed/modified and validated/reviewed as above.

      li #[strong Wider dissemination across the globe] of the very idea of integrating climate change topics in the core curriculum across all disciplines and all levels of the education system, and the teaching tools and lesson plans being recommended here. We are supported by all our global partners in giving wide publicity to the teaching resources published on the TROP ICSU website and also in their implementation across the globe.








  +footer()
