extends ./_template

block vars
	- var title = "TROP ICSU – About"

block body
	+hero('News')
	.container.news

		h3 TROP ICSU Workshop at IUBS Centenary Event, Oslo
		h4 30 July to 2 August 2019
		.row.padded
			div(style="width: 250px")
				img(src="/images/news/logo_IUBS_100_168.png" width=300 height=180)
			.grow(style="width: 350px")
				p International Union of Biological Sciences (IUBS) is the Lead Partner of TROP ICSU.

				p IUBS is celebrating its centenary year with special sessions and talks on a number of topics that are main focus of IUBS in the 33rd General Assembly and scientific sessions in Oslo, Norway on 30th July to 2nd August 2019. Event registrations are free and open to all. More information #[a(href="https://www.iubs100years.org/") here].

		p IUBS provides a global platform for cooperation among scientists from various biology disciplines. As a non-profit, non-governmental umbrella organisation, it promotes research, training, and education. It advocates access and benefit-sharing of knowledge and resources.

		p Team TROP ICSU will conduct a special workshop during the centenary year sessions at Oslo. More information about this workshop can be found #[a(href="https://www.iubs100years.org/general-program/climate-change-education-workshop") here].
		hr

		h3 TROP ICSU Workshop for teachers in China
		h4 16 and 17 July 2019 
		.row.padded
			div(style="width: 250px")
				img(src="/images/news/china-group1.jpg" width=300 height=180)
			.grow(style="width: 350px")
				p TROP ICSU  team conducted a workshop for teachers in Beijing, China on 16 and 17 July 2019 in partnership with the #[a(href="http://english.big.cas.cn/") Beijing Institute of Genomics, Chinese Academy of Sciences]. 30 educators participated in this workshop.

		hr

		h3 TROP ICSU at the High Level Political Forum, UN New York
		h4 11 July 2019 
		.row.padded
			div(style="width: 250px")
				img(src="/images/news/HLPF_0.png" width=300 height=180)
			.grow(style="width: 350px")
				p In a significant development, TROP ICSU  participated at the United Nations #[a(href="https://sustainabledevelopment.un.org/hlpf/2019") High Level Political Forum 2019 (HLPF 2019)] on Sustainable Development at the United Nations Headquarters on 11 July 2019 in a three-hour joint session with the International Federation of Social Workers (IFSW) and Harvard University. This session is titled #[a(href="https://sustainabledevelopment.un.org/index.php?page=view&type=20000&nr=5801&menu=14") "Practices and Approaches on quality education towards environment and climate action"].  
		p Representatives from the participating organizations  brainstormed on (i) approaches that formal (curriculum, pedagogy, cross-disciplinary linkages) and informal (such as NGOs working at the grass-root level) education systems can adopt to promote transdisciplinary thinking essential for public understanding of the science of environmental degradation and climate change and (ii) ways to obtain feedback from the community to design environmentally just sustainable infrastructure at local levels and identify ways to reverse and mitigate climate change at global levels.

		p Prof. L S Shashidhara (TROP ICSU and IUBS), Dr Lucilla Spini (ISC) and Dr Boram Lee (WCRP,WMO) represented the ISC via TROP ICSU participation in the session.

		p Session agenda and the concept note, along with a detailed description of the contribution from TROP ICSU and ISC/ICSU, can be accessed #[a(href="https://sustainabledevelopment.un.org/content/documents/23531HLPF2019_Proposal_Session6.pdf") here].
		.row.padded
			img(src="/images/news/HLPF_1.jpg" width=200 height=180)
			img(src="/images/news/HLPF_2.jpg" width=200 height=180)
			img(src="/images/news/HLPF_3.jpg" width=200 height=180)
		hr


		h3 TROP ICSU featured by UN CC:Learn
		h4 
		p TROP ICSU is now listed on the #[a(href="https://www.uncclearn.org/") UN CC:Learn] knowledge-sharing platform (The One UN Climate Change Learning Partnership) in different categories.

		p It is listed under Learning Resources – #[a(href="https://bit.ly/2W2zcBB") Learning Platforms], also on #[a(href="https://bit.ly/308kutX") Themes – Education], and also on Learning Resources – #[a(href="https://bit.ly/2Sa8aZZ") Library].
		p All the links above are available in English, French and Spanish.
		hr

		
		h3 TROP ICSU Workshop for teachers in France
		h4 28 June 2019 
		.row.padded
			div(style="width: 250px")
				img(src="/images/news/paris2.jpg" width=300 height=180)
			.grow(style="width: 350px")
				p The TROP ICSU team facilitated a teachers workshop in Orsay, France on 28 June 2019 in collaboration with #[a(href="http://www.u-psud.fr/en/index.html") Paris-Sud University (Université Paris-Sud)]. The workshop was attended by 25 teachers.
		.row.padded
			img(src="/images/news/paris1.jpg" width=200)
			img(src="/images/news/paris3.jpg" width=200)
		hr

		h3 TROP ICSU at the 4th UN STI Forum 2019, New York
		h4 14 and 15 May 2019
		.row.padded
			div(style="width: 250px")
				img(src="/images/news/UN_STI_May_2019_2.jpg" width=300 height=180)
			.grow(style="width: 350px")
				h5 Forging a Path to Quality Education and Climate Action
				p TROP ICSU continues to strengthen its alignment with the #[a(href="https://sustainabledevelopment.un.org/sdgs") UN Sustainable Development Goals (SDGs)] of #[a(href="https://sustainabledevelopment.un.org/sdg4") Quality Education (SDG 4)] and #[a(href="https://sustainabledevelopment.un.org/sdg13") Climate Action (SDG 13)].

		p The May-July 2019 quarter is one of the most exciting times for the TROP ICSU project. We had an opportunity to present our educational efforts at the Science Education events during the #[a(href="https://sustainabledevelopment.un.org/TFM/STIForum2019") 4th UN Science, Technology and Innovation Forum 2019] on 14 and 15 May 2019 at the UN headquarters in New York.

		p The TROP ICSU project was presented jointly with the International Science Council at the following two side events of the 4th annual UN STI Forum 2019 on 14 and 15 May at the United Nations Headquarters, New York.
	
		ol
			li
				p "The role of Engineering and Science Education in empowering people and ensuring inclusiveness and equality," organized by World Federation of Engineering Organizations & International Science Council, STC MG and Children and Youth MG.

			li
				p #[a(href="https://sustainabledevelopment.un.org/index.php?page=view&type=20000&nr=5471&menu=2993") "Earth and Environmental Science Education for Sustainable Development"], organized by Geology for Global Development. A summary of this side event is available #[a(href="https://sustainabledevelopment.un.org/content/documents/22937EarthScienceEducation_SideEvent_STIForum2019.pdf") here].

		p Aparna Joshi from TROP ICSU presented the project methodology, concept and educational resources which help to integrate topics in different disciplines to climate change awareness. Lucilla Spini from ISC presented the ISC's perspective on SDGs and education programs such as TROP ICSU.

		p The audience and participants at these sessions provided positive feedback on TROP ICSU and its educational resources, emphasizing and recognizing the urgent need for such an initiative. They also exhibited significant interest in collaborating and partnering with the project.
		.row.padded
			img(src="/images/news/UN_STI_May_2019.jpg" width=200 height=180)
		hr

		h3 TROP ICSU Workshops for teachers in Australia
		h4 24, 27, 30 and 31 May 2019
		.row.padded
			div(style="width: 250px")
				img(src="/images/news/Aus_AdelaideGroup.jpg" width=300 height=180)
			.grow(style="width: 350px")
				p The TROP ICSU team conducted three teachers workshop in Australia in May 2019. The first workshop was  conducted on 24th May with Monash University, the second one on 27 May with University of Melbourne and the third workshop was conducted on 30th and 31st May with University of Adelaide.

				p Details of these workshops are available in the #[a(href="https://mailchi.mp/868685cf4beb/trop-icsu-newsletter-may-jun-2019") TROP ICSU Newsletter May-June 2019].
		.row.padded
			img(src="/images/news/Aus_Adelaide1.jpg" width=200 height=180)
			img(src="/images/news/Aus_Adelaide2.jpg" width=200 height=180)
		hr

		h3 TROP ICSU Workshop for teachers in Cairo, Egypt
		h4 15 and 16 April 2019
		.row.padded
			div(style="width: 250px")
				img(src="/images/news/EgyptGroup.jpg" width=300 height=180)
			.grow(style="width: 350px")
				p The TROP ICSU team conducted a teachers workshop in Cairo, Egypt in April 2019. This workshop was conducted in collaboration with our partner #[a(href="http://www.asrt.sci.eg/") Academy of Scientific Research and Technology (ASRT), Egypt].
		.row.padded
			img(src="/images/news/Egypt1.jpg" width=200 height=180)
			img(src="/images/news/Egypt2.jpg" width=200 height=180)
		hr

		h3 TROP ICSU Workshop for teachers in South Africa
		h4 2 and 3 April 2019
		.row.padded
			div(style="width: 250px")
				img(src="/images/news/SouthAfricaGroup.png" width=300 height=180)
			.grow(style="width: 350px")
				p The TROP ICSU team conducted a teachers workshop in Pretoria, South Africa in April 2019. This workshop was conducted in collaboration with our partner #[a(href="https://council.science/regions/roa") International Science Council – Regional Office for Africa (ISC-ROA)].
		.row.padded
			img(src="/images/news/SouthAfrica1.jpg" width=200 height=180)
			img(src="/images/news/SouthAfrica2.jpg" width=200 height=180)
		hr

		h3 TROP ICSU Workshop for teachers in Bhutan
		h4 14 and 15 February 2019
		.row.padded
			div(style="width: 250px")
				img(src="/images/news/BhutanGroup.jpg" width=300 height=180)
			.grow(style="width: 350px")
				p In February, the TROP ICSU team visited Bhutan to facilitate a workshop for teachers and educators. A 2-day workshop for school teachers and university lecturers was conducted in collaboration with the Center for Disaster Risk Reduction and Community Development Studies (CDRR &CDS), #[a(href="http://cst.edu.bt/") College of Science and Technology, Royal University of Bhutan] and the Commission on Education and Outreach, #[a(href="http://www.iaspei.org/") International Association of Seismology and Physics of the Earth’s Interior (IASPEI)]—an association of the #[a(href="http://iugg.org/") International Union of Geodesy and Geophysics (IUGG)], which is a partner of the TROP ICSU project—at Thimphu, Bhutan, on February 14 and 15, 2019.
		p Sixty-six teachers and educators from various disciplines attended the workshop. The workshop participants were introduced to the usage of digital teaching resources in the classroom and to the idea of integrating climate science/climate change-related topics with existing curriculum. They also provided critical feedback on the existing teaching resources from the pedagogy perspective.

		p #[a(href="https://mailchi.mp/f8e5079b84ab/trop-icsu-newsletter-feb-2019") TROP ICSU Newsletter showcasing Workshop for Teachers in Bhutan].

		p #[a(href="https://tropicsu.org/wp-content/uploads/2019/03/Report_TROPICSUWorkshop_Bhutan_Feb2019.pdf") Report of TROP ICSU Workshop for Teachers in Bhutan].
		.row.padded
			img(src="/images/news/Bhutan-1.jpg" width=200 height=180)
		hr

		h3 TROP ICSU Lesson Plan Development Workshops for Various Disciplines
		h4 20 December 2018 and 28 January 2019
		.row.padded
			div(style="width: 250px")
				img(src="/images/news/Delhi-2.jpg" width=300 height=180)
			.grow(style="width: 350px")
				p On 20 December 2018, a one-day workshop for Mathematics and Statistics teachers was held at IISER Pune, India. This event focused on lesson plan development and was attended by 21 undergraduate-level teachers from various colleges in Mumbai, India. During the workshop, the participants discussed ideas and developed outline lesson plans for the integration of climate topics with existing curriculum in their disciplines.
		p On 28 January 2019, a one-day workshop for teachers of the Humanities, Social Sciences, and Economics was held at Jesus and Mary College, New Delhi, India. This event focused on lesson plan development in these specific disciplines and was attended by approximately 40 undergraduate-level teachers from various colleges in New Delhi, India. During the workshop, the participants discussed ideas and developed outline lesson plans for the integration of climate topics with existing curriculum in their disciplines. The workshop also included participants from Mathematics, Computer Science, Commerce, Business Administration, and Elementary Education.

		p More about these workshops can be found out in our #[a(href="https://us19.campaign-archive.com/?u=792378e66e9138deb30c8b5a1&id=cbdaf74803") January 2019 Newsletter].
		.row.padded
			img(src="/images/news/Maths-workshop-IISER-Pune.jpg" width=200 height=180)
			img(src="/images/news/Humanities-Workshop-JMC-Delhi.png" width=200 height=180)
		hr

		h3 TROP ICSU at COP24 Katowice, Poland
		h4 13 and 14 December 2018
		.row.padded
			div(style="width: 250px")
				img(src="/images/news/COP-24-1.png" width=300 height=180)
			.grow(style="width: 350px")
				p The TROP ICSU project was represented at four sessions on climate change education at the #[a(href="https://cop24.gov.pl/") 24th Conference of the Parties to the United Nations Framework Convention on Climate Change (COP 24)] in Katowice, Poland, on 13 and 14 December, 2018.


		p COP24 is the informal name for the 24th Conference of the Parties to the United Nations Framework Convention on Climate Change (UNFCCC). COP 24 was held at Katowice, Poland, from 2 December to 14 December 2018. The UNFCCC is a “Rio Convention”, one of three adopted at the “Rio Earth Summit” in 1992. The UNFCCC entered into force on 21 March 1994. Today, it has near-universal membership. The countries that have ratified the Convention are called Parties to the Convention. Preventing “dangerous” human interference with the climate system is the ultimate aim of the UNFCCC.

		p At COP24, December 13 was celebrated as Education Day. On this day, Dr. Rahul Chopra represented the TROP ICSU project at the session "Climate Education and Capacity Building for Students and Local Communities," organized by NFD Centre for Environment Education (CEE) and Ashoka Trust for Research in Ecology and the Environment (ATREE). He also participated in a panel discussion at the UN side event "Quality Education: Climate Change Education for All," organized by UNESCO, UNITAR, FAO, and UNDP.

		p On December 14, the TROP ICSU project was presented at the EU pavilion event "Climate Change Education and Training: Leadership and Excellence" and in a dedicated session at the IPCC WMO Pavilion.

		p The audience and participants at these sessions provided positive feedback on TROP ICSU and its educational resources, emphasizing and recognizing the urgent need for such an initiative. They also exhibited significant interest in collaborating and partnering with the project.

		p #[a(href="https://mailchi.mp/63542967c0cc/trop-icsu-newsletter-tropicsu-at-cop24") TROP ICSU at COP24], a special edition of the TROP ICSU newsletter.
		.row.padded
			img(src="/images/news/COP24-1.png" width=200 height=180)
			img(src="/images/news/COP24-2.jpg" width=200 height=180)
			img(src="/images/news/COP24-3.jpg" width=200 height=180)
			img(src="/images/news/COP24-4.jpg" width=200 height=180)

		hr

		h3 TROP ICSU Workshop for teachers at Uganda, Africa
		h4 November 2018
		.row.padded
			div(style="width: 250px")
				img(src="/images/news/u7.jpg" width=300 height=180)
			.grow(style="width: 350px")
				p The TROP ICSU team conducted a workshop for teachers at Kampala, Uganda, in November 2018 with enthusiastic and valuable support from our partner, the #[a(href="https://afruc.org/a/") African Union of Conservationists (AUC)]. Over 60 high school teachers and over 70 university teachers participated in the workshop.
				p More about this workshop can be found out in our #[a(href="https://mailchi.mp/daaecdf405d8/trop-icsu-newsletter-nov-dec-132781") Newsletter].
		.row.padded
			img(src="/images/news/u1.jpg" width=200)
			img(src="/images/news/u2.jpg" width=200)
			img(src="/images/news/u3.jpg" width=200)
			img(src="/images/news/u4.jpg" width=200)
			img(src="/images/news/u5.jpg" width=200)
			img(src="/images/news/u6.jpg" width=200)
			img(src="/images/news/u8.jpg" width=200)

		hr

		h3 TROP ICSU is featured in IUGS Bulletin
		h4 
		.row.padded
			div(style="width: 250px")
				img(src="/images/news/iugs_logo.jpg" width=300 height=180)
			.grow(style="width: 350px")
				p The International Union of Geological Sciences (IUGS) is one of the key partners of TROP ICSU. IUGS is a member of the International Council of Science.

				p TROP ICSU project is featured in #[a(href="http://iugs.org/uploads/E-Bulletin/IUGS-E-bulletin-November-148.pdf") IUGS Bulletin] in November 2018.
		hr

		h3 TROP ICSU Workshop for Teachers in New Delhi, India
		h4 13 and 14 October 2018
		.row.padded
			div(style="width: 250px")
				img(src="/images/news/SVC4.jpg" width=300 height=180)
			.grow(style="width: 350px")
				p 	The first TROP ICSU workshop for teachers was held in collaboration with Sri Venkateswara College (University of Delhi), New Delhi, India, on October 13 and 14, 2018. The objective of the workshop was to introduce the participants to digital teaching resources for teaching topics in the Sciences, Mathematics, Social Sciences, and Humanities using climate-related examples, case studies, and activities.

		p In addition, participants would be invited to review the educational resources of the TROP ICSU project and to provide their feedback on the appropriateness and ease-of-use of the teaching tools and lesson plans.

		p 80 undergraduate-level teachers participated in the workshop.

		p In the interactive workshop, participants attended a few plenary sessions for an overview of the TROP ICSU project and its teaching resources. Then, the teachers/educators worked in groups (in computer labs) to carry out hands-on activities using various teaching tools and lesson plans from the TROP ICSU website. They provided review comments about the teaching resources (via an online review form) to help in further enhancing the quality and effectiveness of the content.

		p Further, participants worked in discipline-based groups to develop new lesson plan ideas to teach topics in their discipline using climate-related examples. The workshop concluded with presentations on the new lesson plan frameworks and ideas and an open discussion on continued engagement and collaboration with the TROP ICSU project.

		p Overall, the participants were very enthusiastic to learn about the usage of the digital teaching resources in the classroom and to integrate climate science/climate change-related topics in their existing curriculum. They were also very eager to create new lesson plans; each group created a framework for one new lesson plan for their discipline.

		p To summarize the feedback received on the Lesson Plans from the TROP ICSU website,
		ul
			li Explaining the topic(s) in the discipline: Approximately 72% of the participants responded that the reviewed lesson plan was very effective or moderately effective in explaining the topic in the discipline.
			li Integrating the discipline topic(s) with climate science: Approximately 82% of the participants responded that the reviewed lesson plan was very effective or moderately effective in integrating the discipline topic(s) with climate science.
			li Using the lesson plan in the classroom: Approximately 94% of the participants indicated that they would use the lesson plan in their classroom as is or with some modifications.
			li Detailed results for the lesson plan reviews are provided in Appendix II: Review of Lesson Plans by Participants.

		p To summarize the feedback received on the teaching tools,
		ul
			li Explaining the topic(s) in the discipline: Approximately 94% of the teachers thought that the reviewed tool was very effective or moderately effective in explaining the topic(s) in the discipline.
			li Describing the tool: Approximately 81% of the participants thought that the tool description adequately shows how the discipline topic can be taught using a climate-related example, activity, or case study.
			li Using the tool in the classroom: Approximately 96% of the teachers indicated that they would use the reviewed tool in their classroom as is or with some modifications.
			li Detailed results for the teaching tool reviews are provided in Appendix III: Review of Teaching Tools by Participants.

		.row.padded
			img(src="/images/news/SVC2.jpg" width=200 height=180)
			img(src="/images/news/SVC3.jpg" width=200 height=180)
		hr

		h3 Presentation at Workshop for Climate Scientists in Pune, India
		h4 11 October 2018
		.row.padded
			div(style="width: 250px")
				img(src="/images/news/IITM_Workshop.jpg" width=300 height=180)
			.grow(style="width: 350px")
				p Rahul Chopra, from TROP ICSU  Team, presented the climate education resources of the TROP ICSU project to climate scientists in a talk titled “Climate Across the Curriculum: Teaching Climate Change In The Classroom” at the “ #[a(href="http://cccr.tropmet.res.in/home/workshop/oct2018/index.jsp") Science and Training Workshop on Climate Change over the High Mountains of Asia (HMA)]” on October 11, 2018, at the #[a(href="https://www.tropmet.res.in/") Indian Institute of Tropical Meteorology (IITM)] in Pune, India. 

				p This workshop was organized by the Centre for Climate Change Research (CCCR) at the IITM, Pune, jointly with the Monsoon Asia Integrated Research for Sustainability – Future Earth (MAIRS-FE) project office at the Divecha Centre for Climate Change (DCCC), Indian Institute of Science (IISc), Bengaluru.

		p The workshop focused on “integrating regional climate downscaling activities, facilitating cross-fertilisation of scientific expertise and engaging the community of Asian scientists for capacity building.”	
		hr

		h3 Workshop for Geography Teachers in Strobl, Austria
		h4 
		.row.padded
			div(style="width: 250px")
				img(src="/images/news/Austria-Workshop2.jpg" width=300 height=180)
			.grow(style="width: 350px")
				p Our partners from the #[a(href="https://www.iuss.org/") International Union of Soil Sciences (IUSS)]introduced the TROP ICSU project and its teaching resources at a teachers training event as part of the reunion of the Austrian Geography teachers in Strobl, Austria.

				p This workshop was conducted in German for representatives of the Austrian federal states’ Geography teachers, who are responsible for teachers training curriculum in their federal states. Therefore, it is expected that the project will benefit from a significant multiplier effect.

		p In summary, the teachers provided positive feedback on the Geography teaching resources and found them to be useful.

		p The participants also recommended that such a training workshop and the TROP ICSU teaching resources would be beneficial for teachers of other disciplines and other school types.
		.row.padded
			img(src="/images/news/Austria-Workshop1.jpg" width=200 height=180)
		hr

	

	+footer()
