extends ./_template

block vars
  - var title = "TROP ICSU – Project"

block body
  +hero('Project')

  .container

    .row.padded
      div(style="width: 300px")
        img(src="/images/home-1.jpg" width=300 height=180)
      .grow(style="width: 250px")
        h2 Vision
        p We aim to integrate relevant education and science communication modules in the education system to help future citizens across the globe in improving their understanding of the science of climate change and in developing necessary skills to mitigate its impact.

    .row.padded
      div(style="width: 300px")
        img(src="/images/home-2.jpg" width=300 height=180)
      .grow(style="width: 250px")
        h2 Promoters
        p TROP ICSU (“Trans-disciplinary Research Oriented Pedagogy for Improving Climate Studies and Understanding”) is a global project funded by the International Council of Science. The project is led by International Union of Biological Sciences (IUBS) and co-led by International Union For Quaternary Research (INQUA).

    .row.padded
      div(style="width: 300px")
        img(src="/images/home-3.jpg" width=300 height=180)
      .grow(style="width: 250px")
        h2 Strategy
        p We collate and curate digital/ICT-based teaching resources that integrate climate studies across the curriculum of Science, Mathematics, Social Sciences and Humanities. These teaching resources are locally rooted in their context, but globally relevant for their science.

    .row.padded
      div(style="width: 300px")
        img(src="/images/home-9.jpg" width=300 height=180)
      .grow(style="width: 250px")
        h2 Methodology
        p TROP ICSU meticulously follows a methodology adopted along with various steps taken to review and validate the educational resources collated under this project.
        p #[a(href="/methodology") Learn more about our methodology here].


    h1 Framework programs

    .row.padded
      div(style="width: 300px")
        img(src="/images/home-5.jpg" width=300 height=180)
      .grow(style="width: 250px")
        h2 Sustainable Development Goals
        p Our project directly aligns with #[a(href="https://www.un.org/development/desa/disabilities/envision2030.html" target="_blank") UN Sustainable Development Goals] (SDGs) 4 and 13.
        p UNESCO mentions education as a key instrument to achieve the 17 Sustainable Development Goals( SGDs). TROP ICSU subscribes to this thought and aligns with the Action Plan of UNESCO to promote #[a(href="https://www.sdg4education2030.org/education-sustainable-development-goals-learning-objectives-unesco-2017" target="_blank") Education for Sustainable Development] by aligning with the following Learning Objectives of ESD:

        ul
          li Objective 1.2.4 SDG 4 | Quality Education
            p Ensure inclusive and equitable quality education and promote lifelong learning opportunities for all.

          li Objective 1.2.13 SDG 13 | Climate Action
            p Take urgent actions to combat climate change and its impact.

          li Objective 1.2.14 SDG 14 | Life below Water
            p Conserve and sustainably use the oceans, seas and marine resources for sustainable development,

          li Objective 1.2.15 SDG 15 | Life on Land
            p Protect, restore and promote sustainable use of terrestrial ecosystems, sustainably manage forests, combat desertification, and halt and reverse land degradation and halt biodiversity loss.

    .row.padded
      div(style="width: 300px")
        img(src="/images/ISC-action.jpg" width=300 height=180)
      .grow(style="width: 250px")
        h2 Advancing Science as a Global Public Good (ISC Action plan)
        p As a part of the effort in advancing science as a global public good, the #[a(href="https://council.science/" target="_blank") International Science Council] has identified four Domains of Impact which represent the landscape of challenges and opportunities. TROP ICSU aligns with the following Domains of Impact:
        ul
          li Domain one: The 2030 Agenda for Sustainable Development
          li Domain two: The Digital Revolution
          li Domain three: Science in Policy and Public Discourse
        p Outreach and Engagement are considered as key components to the ISC’s Action Plan. TROP ICSU maps its goals with the one of the goals by ISC, “Amplifying Impact through Outreach and Engagement”.


  +footer()
