extends ./_template

block vars
  - var title = "TROP ICSU – Project"

block body
  +hero('Search', 'search')

  .container

    <script async src="https://cse.google.com/cse.js?cx=009002925941351952775:qwd3yhdfvhe"></script>
    <div class="gcse-search"></div>



  +footer()
