extends ./_template

block vars
  - var title = "TROP ICSU – For Teachers"

block body
  +hero('For Teachers and Educators')

  .container
    .row.padded
      div(style="width: 300px")
        img(src="/images/home-7.jpg" width=300 height=180)
      .grow(style="width: 250px")
        h3 These resources are by teachers and for teachers. 
        p The project is a proof of concept, it showcases a way of integrating climate change education with the core curriculum. You may have your own creative ways of achieving the same objective, please do #[a(href="contact") share your ideas] on this platform for the benefit of other teachers across the world. 
    p We are aware that not all lesson plans provided here may be suitable for use across the globe, but we sincerely hope that our efforts here will provide you with ideas to develop your own Lesson Plans. Your feedback after using these resources will greatly help us in further improving the educational resources for climate change education.

    h2 Workshops

    p The TROP ICSU team aims to introduce the collection of digital teaching resources on the project website to teachers of various disciplines or subjects (Science, Mathematics, Social Sciences, and Humanities) through workshops organized in different countries. These workshops are being planned and organized with valuable support from our partners and collaborators.

    p The map shows the past TROP ICSU workshops:

    iframe(src="https://www.google.com/maps/d/embed?mid=1K5FNuitAPiaPMFs8Hiqj9KIlY--aeaR8&hl=en" width=640 height=480 style="border: 0; width: 100%")

    h2 Survey

    p We are conducting a Preliminary Survey on Teaching Toolkits for school and undergraduate teachers (educators) to understand how topics related to climate change are currently discussed in the classroom in different parts of the world.

    p This short survey would take approximately 8-10 minutes to complete, and all responses will be treated as confidential and will be used only for our research purposes in the project. The survey is currently available in several languages, please choose your preferred language from the list below:

    ul.row.padded
      a(href="survey/survey-en") English
      a(href="survey/survey-hi") हिन्दी (Hindi)
      a(href="survey/survey-zh") 中文 (Chinese)
      a(href="survey/survey-es") Español (Spanish)
      a(href="survey/survey-fr") Français (French) 
      a(href="survey/survey-de") Deutsch (German)
      a(href="survey/survey-it") Italiano (Italian)
      a(href="survey/survey-ja") 日本語 (Japanese)
      a(href="survey/survey-pt") Português (Portuguese)
      a(href="survey/survey-ca") Català (Catalan)


  +footer()



