extends ./_template

block vars
  - var title = "TROP ICSU – For Teaching, for Learning"

block body
  +hero('For Teaching, for Learning')

  .container
    .row.padded
      div(style="width: 300px")
        img(src="/images/home-7.jpg" width=300 height=180)
      .grow(style="width: 250px")
        h2 For Teachers and Educators
        p These resources are made by teachers and used by teachers. The project is a proof of concept, it showcases a way of integrating climate change education with the core curriculum. You may have your own creative ways of achieving the same objective, please do #[a(href="contact") share your ideas] on this platform for the benefit of other teachers across the world. 
    p We are aware that not all lesson plans provided here may be suitable for use across the globe, but we sincerely hope that our efforts here will provide you with ideas to develop your own Lesson Plans. Your feedback after using these resources will greatly help us in further improving the educational resources for climate change education.	


	
    .row.padded
      div(style="width: 300px")
        img(src="/images/home-10.jpg" width=300 height=180)
      .grow(style="width: 250px")
        h2 For Students and Learners
        p Use these educational resources to not only strengthen your understanding of core topics in a discipline/subject but also enhance your knowledge of climate science and climate change.
        p These resources will help you explore and learn about various topics in any discipline/subject in an interactive and engaging manner.

    p In addition, you will also be able to learn about the science of climate and climate change through examples and case studies. You can select resources from a collection spanning a range of disciplines/subjects including Physics, Chemistry, Biology, Mathematics, Social Sciences, Humanities, Earth Sciences, Environmental Sciences, and Economics.
    p You can also choose from teaching tools of various types (Games, Videos, Interactive Visualizations, Models/Simulators, Classroom/Laboratory Activities, etc.) and examples from different geographic locations for an immersive learning experience.
    p Further, the examples, case studies, and activities will help in equipping you and all future generations with key 21st-century learning skills and with the  knowledge to identify and develop solutions for climate change adaptation, mitigation, and resilience.
    p We are constantly updating the content to increase the relevance and number of educational resources for you and students/learners across the world.

    
    h2 Teachers Workshops

    p The TROP ICSU team aims to introduce the collection of digital teaching resources on the project website to teachers of various disciplines or subjects (Science, Mathematics, Social Sciences, and Humanities) through workshops organized in different countries. These workshops are being planned and organized with valuable support from our partners and collaborators.

    p The map shows the past TROP ICSU workshops and events:

    iframe(src="https://www.google.com/maps/d/embed?mid=1K5FNuitAPiaPMFs8Hiqj9KIlY--aeaR8&hl=en" width=640 height=480 style="border: 0; width: 100%")

    h3 Survey

    p We are conducting a Preliminary Survey on Teaching Resources for school and undergraduate teachers (educators) to understand how topics related to climate change are currently discussed in the classroom in different parts of the world.

    p This short survey would take approximately 8-10 minutes to complete, and all responses will be treated as confidential and will be used only for our research purposes in the project. The survey is currently available in several languages, please choose your preferred language from the list below:

    ul.row.padded
      a(href="survey/survey-en") English
      a(href="survey/survey-hi") हिन्दी (Hindi)
      a(href="survey/survey-zh") 中文 (Chinese)
      a(href="survey/survey-es") Español (Spanish)
      a(href="survey/survey-fr") Français (French) 
      a(href="survey/survey-de") Deutsch (German)
      a(href="survey/survey-it") Italiano (Italian)
      a(href="survey/survey-ja") 日本語 (Japanese)
      a(href="survey/survey-pt") Português (Portuguese)
      a(href="survey/survey-ca") Català (Catalan)


  +footer()



